{% extends "base.html" %}

{% block title %}Admin Panel{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card mb-4">
            <div class="card-header bg-dark text-white">
                <h5 class="mb-0">Admin Panel</h5>
            </div>
            <div class="list-group list-group-flush">
                <a href="{{ url_for('admin_panel') }}" class="list-group-item list-group-item-action {% if request.endpoint == 'admin_panel' %}active{% endif %}">
                    <i class="fas fa-tachometer-alt me-2"></i> Dashboard
                </a>
                <a href="{{ url_for('manage_users') }}" class="list-group-item list-group-item-action {% if request.endpoint == 'manage_users' %}active{% endif %}">
                    <i class="fas fa-users me-2"></i> Manage Users
                </a>
                <a href="{{ url_for('admin_manage_categories') }}" class="list-group-item list-group-item-action {% if request.endpoint == 'admin_manage_categories' %}active{% endif %}">
                    <i class="fas fa-tags me-2"></i> Manage Categories
                </a>
                <a href="{{ url_for('home') }}" class="list-group-item list-group-item-action">
                    <i class="fas fa-arrow-left me-2"></i> Back to Site
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        {% block admin_content %}{% endblock %}
    </div>
</div>
{% endblock %}
